<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <div class="logo">
        <img src="/images/logo.png" alt="Logo" />
      </div>

      <p>Subscribe to our newsletter to get updates about our grand offers.</p>

      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>

    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About us</a></li>
        <li><a routerLink="/offer">Offer</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <h4>Help Center</h4>
      <ul>
        <li><a routerLink="/faq">FAQs</a></li>
        <li><a routerLink="/payment">Payment</a></li>
        <li><a routerLink="/returns">Returns & Refunds</a></li>
        <li><a routerLink="/checkout">Checkout</a></li>
        <li><a routerLink="/delivery">Delivery Information</a></li>
      </ul>
    </div>

    <div class="footer-newsletter">
      <h4>Our Newsletter</h4>

      <p>Subscribe to our newsletter to get updates about our grand offers.</p>

    </div>
  </div>

  <div class="footer-bottom">
    <span>© 2026. All rights reserved.</span>
    <span>Developed by <a href="#">Jawad Nasiri</a></span>
  </div>
</footer>
