<!-- banner component  -->
<app-banner title="Login"></app-banner>

<div class="auth-container">
  <div class="auth-tabs">
    <a routerLink="/login" class="auth-tab active">LOG IN</a>
    <a routerLink="/signup" class="auth-tab">SIGN UP</a>
  </div>

  <form class="auth-form" (ngSubmit)="login(email, password)">
    <div class="form-group">
      <input type="email" #email placeholder="Admin Email" (input)="validateEmail(email.value, email)" />
      @if (email.value !== '' && !emailValid) {
        <small>Please provide a valid email!</small>
      }
    </div>

    <div class="form-group password-group">
      <input type="password" #password placeholder="Admin Password" (input)="validatePassword(password.value, password)" />
      <i class="fa-solid fa-eye-slash eye-icon" (click)="changeEyeIconStatus($event, password)"></i>
      @if (password.value !== '' && !passwordValid) {
        <small>Password is not valid</small>
      }
    </div>

    <button type="submit" class="btn-submit">LOG IN</button>
  </form>
</div>

<!-- toast component  -->
@if (showToast()) {
  <app-toast
    [title]="toastTitle"
    [message]="toastMessage"
    [type]="toastType"
    (closed)="showToast.set(false)"
  >
  </app-toast>
}

<!-- gallery component  -->
<app-gallery [images]="galleryImages" alt="Animal Photo"></app-gallery>
